@import "../../scss/global.scss";

.login {
    &-wrapper {
        .register-layout__container {
            margin: 60px auto 0 !important;
        }
        .register-header__header--title::after {
            width: 120px;
        }
    }
    &__form {
        label {
            font-weight: 600;
        }
        .ant-input {
            padding: 6px 11px;
            font-size: 14px;
            font-weight: 500;
            color: $color-date;
        }
        .ant-form-item {
            margin-bottom: 16px;
        }
        &--footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            flex-wrap: wrap;
            margin-bottom: 16px;
            span {
                a {
                    margin-left: 8px;
                }
            }
        }
        button {
            width: 70%;
            height: 42px;
            span {
                font-weight: 600;
            }
        }
        .ant-form-vertical .ant-form-item-row {
            text-align: center;
        }
        .ant-btn-primary {
            background-color: $btn-register-color;
        }
    }
}

@media screen and (max-width: 423px) {
    .login {
        &__form {
            &--footer {
                span {
                    margin-bottom: 8px;
                }
            }
        }
    }
}
